{{!-- Common Partial to Display the Comment Details--}}
<div>
    {{#if this}}
    <br>
    <div class="card" style="width: 70rem;background-color:#e3f2fd;">
        <div class="card-header">
            <h2>Comments</h2>
        </div>
    </div>
    <br>
    {{/if}}
    {{#each this}}
    <div class="card" style="width: 70rem;">
        <div class="card-header">
            {{user.username}} <p class="blogCreate text-right"> commented on {{formatDate created_at}}</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{comment_text}}
            </div>
        </div>
    </div>
    <br>
    {{/each}}
</div>