{{!-- Bread crumbs back to dashboard --}}
<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>
{{!-- Displays the selected Post --}}
{{> post post}}

{{#if loggedIn}}
{{!-- Create New Comment Section --}}
<br>
<div class="card" style="width: 40rem;">
    <div class="card-header">
        <h2>Add Comment</h2>
    </div>
    <div class="card-body">
        <form id="frnCommentAdd">            
            <div class="form-group">
                <label for="postText">Content</label>
                <textarea id="commentText" name="commentText" class="form-control" rows="10"></textarea>
            </div><br>
            <button type="submit" class="btn btn-primary">Add Comment</button>            
        </form>
    </div>
</div>
{{/if}}
{{!-- Displays all the previous comments for this user --}}
{{> comment post.comments}}

{{#if loggedIn}}
{{!-- Calls the JS File to call the related route and hit the realtive Restend point for Adding New Comment--}}
<script src="/js/comment.js"></script>
{{/if}}