{{!-- Displays the selected Post with option to Edit/Delete it --}}
<article>
    <br> &nbsp;
    <a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
<br> &nbsp; 
{{!-- Edit Post Section --}}
     <div class="card" style="width: 40rem;">
        <div class="card-header">
            <h2>Edit Post</h2>
        </div>
        <div class="card-body">
            <form id="frmUpdatePost">
                <div class="form-group">
                    <label for="postTitle">Title</label>
                    <input type="text" id="postTitle" name="postTitle" class="form-control" value="{{post.title}}"/>
                </div>
                <div class="form-group">
                    <label for="postText">Content</label>
                    <textarea id="postText" name="postText" class="form-control" rows="10">{{post.content}}</textarea>
                </div><br>
                <button type="submit" class="btn btn-primary">Update Post</button>
                <button type="button" class="btn btn-primary" id="btnDeletePost">Delete Post</button>
            </form>
        </div>
    </div>
</article>

{{#if loggedIn}}
{{!-- Calls the JS Files to call the related routes and hit the realtive Restend point for Edit/Delete Post--}}
<script src="/js/editpost.js"></script>
<script src="/js/deletepost.js"></script>
{{/if}}